html {
  scroll-behavior: smooth;
}

body {
  background: #9a8c98;
  font-family: "Nunito", sans-serif;
}

@keyframes slideNavFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.bg-main-navbar {
  display: none;
  justify-content: end;
  font-size: 3rem;
  color: #c9ada720;
}

.navbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .navbar-brand {
  font-size: 2rem;
  color: #c9ada7;
}

#mainNavbar .nav-link {
  color: #f2e9e4;
}

#mainNavbar .nav-link:hover {
  color: #c9ada7;
}

#mainNavbar select {
  background: none;
  font-size: 1.5rem;
  padding: 0.5rem;
  padding-left: 0;
  color: #f2e9e4;
  border: none;
  font-weight: 100;
}

#mainNavbar select:hover {
  color: #c9ada7;
  cursor: pointer;
}

select .dropdown-option {
  background-color: #4a4e69;
}

.cat-text h1 {
  color: #f2e9e4;
  font-weight: 100;
  font-size: 4.5rem;
}

.cat-text h1 span {
  color: #c9ada7;
}

.cat-text h2 {
  font-size: 2.5rem;
  color: #22223b;
}

.cat-text p {
  color: #4a4e69;
  font-size: 1.2rem;
  padding-top: 0.5rem;
}

.navbar.scrolled {
  animation: 1s ease-out 0s 1 slideNavFromLeft;
  background: #4a4e69;
  display: flex;
  transition: background 1ms;
}

.navbar.scrolledTop {
  background: none;
  transition: background 1s;
}

select:focus-visible {
  outline: none;
}

.about-cat {
  position: absolute;
  background-color: #4a4e69;
  color: #f2e9e4;
  text-align: center;
  z-index: 5;
  left: 0;
  bottom: 0;
  width: 80%;
}

.about-cat::before {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #4a4e69;
  position: absolute;
  content: "";
  left: 50%;
  bottom: 100%;
  z-index: 5;
}
.cat-about-pic {
  box-sizing: border-box;
  cursor: pointer;
}
.cat-about-pic.active:nth-of-type(1) {
  border: solid 15px #cdb4db;
}
.cat-about-pic.active:nth-of-type(2) {
  border: solid 15px #ffc8dd;
}
.cat-about-pic.active:nth-of-type(3) {
  border: solid 15px #ffafcc;
}
.cat-about-pic.active:nth-of-type(4) {
  border: solid 15px #bde0fe;
}
.cat-about-text {
  display: none;
  color: #22223b;
}
.cat-about-text:nth-of-type(1) {
  background-color: #cdb4db;
}
.cat-about-text:nth-of-type(2) {
  background-color: #ffc8dd;
}
.cat-about-text:nth-of-type(3) {
  background-color: #ffafcc;
}
.cat-about-text:nth-of-type(4) {
  background-color: #bde0fe;
}
.cat-about-text.show {
  display: block;
}

/* dark theme */
.cat-text.dark-theme h1 {
  color: #c9ada7;
}
.cat-text.dark-theme h1 span {
  color: #9a8c98;
}
.cat-text.dark-theme h2 {
  color: #9a8c98;
}
.cat-text.dark-theme p {
  color: #c9ada7;
}
.cat-about-pic.active.dark-theme:nth-of-type(1) {
  border: solid 15px #355070;
}
.cat-about-pic.active.dark-theme:nth-of-type(2) {
  border: solid 15px #6d597a;
}
.cat-about-pic.active.dark-theme:nth-of-type(3) {
  border: solid 15px #b56576;
}
.cat-about-pic.active.dark-theme:nth-of-type(4) {
  border: solid 15px #e56b6f;
}
.cat-about-text.dark-theme:nth-of-type(1) {
  background-color: #355070;
}
.cat-about-text.dark-theme:nth-of-type(2) {
  background-color: #6d597a;
}
.cat-about-text.dark-theme:nth-of-type(3) {
  background-color: #b56576;
}
.cat-about-text.dark-theme:nth-of-type(4) {
  background-color: #e56b6f;
}
.cat-about-text.cat-text.dark-theme p {
  color: #f2e9e4;
}
/* end of dark theme */

@media (max-width: 1415px) {
  .cat-text h1 {
    font-size: 2.5rem;
  }
  .cat-text h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 767px) {
  #mainNavbar .nav-link {
    padding-left: 0.3rem;
  }
}

@media (max-width: 480px) {
  #mainNavbar .nav-link {
    background-image: linear-gradient(to right, #4a4e69, #4a4e6920);
  }
  #mainNavbar select {
    background-image: linear-gradient(to right, #4a4e69, #4a4e6920);
    width: 100%;
  }
  .navbar.scrolledTop {
    background-image: linear-gradient(to right, #4a4e69, #4a4e6920);
  }
  select .dropdown-option {
    background-image: linear-gradient(to right, #4a4e69, #4a4e6920);
  }
}
